doctype html
html
  head
   title Knowledgebase
   link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
   link(rel='stylesheet' href='/css/style.css')
  body
    .container
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        
        if user
        
        <li class="nav-item">
          <a class="nav-link" href="/articles/add">Add</a>
        </li>
        
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      
      if user 
      
        <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
        </li>
        
      else
      
       <li class="nav-item">
        <a class="nav-link" href="/users/register">Register</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/users/login">Login</a>
        </li>
      
  </nav>
    .container   
       != messages('message',locals)
       if errors 
         each error,i in errors 
           div(class="alert alert-danger") #{error.msg}
       block content
       br
       hr
       footer
        p Copyright &copy 2019
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/js/main.js')
